{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "tailwindFunctions": ["clsx", "tw"],
  "tailwindPreserveDuplicates": true,
  "plugins": ["prettier-plugin-tailwindcss"]
}
